<h2>ログイン画面</h2>
<% if flash[:notice] %>
  <p><font color="blue"><%= flash[:notice] %></font></p>
<% end %>  
<%= form_tag '/tops/login', method: :post do %>
  <%= label_tag :uid, 'ユーザーID' %>
  <%= text_field_tag :uid %>
  <br>
  <%= label_tag :pass, 'パスワード' %>
  <%= password_field_tag :pass %>
  <%= submit_tag 'ログイン' %>
<% end %>  
<%= link_to "新規登録", new_user_path %>
<%= link_to "ユーザー情報", users_path %>
