<h1>地方アンケートアプリ</h1>

<p>
ようこそ！
</p>
<%= link_to "ログアウト", tops_logout_path %>

<br>

<h2>募集中のアンケート</h2>

<p>
    1.ああああ<br>
    2.いいいい<br>
    3.うううう<br>
</p>

<%= link_to "アンケートを作成", new_anketo_path %><br>
<%= link_to "過去のアンケートを表示", anketo_path %>
