<h2>新規登録画面</h2>
<%= form_for @user, url: {action: :create} do |form| %>
 <%= label_tag :uid, 'ユーザーID' %>
 <%= text_field_tag :uid %>
 <br>
 <%= label_tag :pass, 'パスワード' %>
 <%= password_field_tag :pass %>
 <%= form.submit '登録'%>
<% end %>

<%= link_to 'Back', tops_main_path %>